attached_assets/Pasted--id-vapi-calendar-workflow-name-VAPI-Appointment-Scheduling-with-Availability-Boo-1738869188194.txt
{
  "id": "vapi_calendar_workflow",
  "name": "VAPI Appointment Scheduling with Availability & Booking",
  "nodes": [
    {
      "id": "webhook_1",
      "name": "VAPI Appointment Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "path": "vapi-appointment-request",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "if_mode_booking",
      "name": "Is Mode Booking?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mode }}",
              "operation": "equal",
              "value2": "booking"
            }
          ]
        }
      }
    },
    {
      "id": "google_calendar_check_booking",
      "name": "Booking: Check Availability",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        600,
        200
      ],
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "mode": "value",
          "value": "your_calendar_email@example.com"
        },
        "options": {
          "timeMin": "={{ $json.startTime }}",
          "timeMax": "={{ $json.endTime }}",
          "singleEvents": true
        },
        "returnAll": true
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "your_google_calendar_credential_id",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "id": "if_slot_free",
      "name": "Is Time Slot Free?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $items('Booking: Check Availability').length }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "google_calendar_create_booking",
      "name": "Booking: Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "operation": "create",
        "calendar": {
          "mode": "value",
          "value": "your_calendar_email@example.com"
        },
        "summary": "={{ $json.appointmentTitle }}",
        "start": "={{ $json.startTime }}",
        "end": "={{ $json.endTime }}"
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "your_google_calendar_credential_id",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "id": "http_response_booking_success",
      "name": "HTTP Response: Booking Success",
      "type": "n8n-nodes-base.httpResponse",
      "typeVersion": 1,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "responseCode": 200,
        "data": "={{ { \"message\": \"Appointment booked successfully\" } }}"
      }
    },
    {
      "id": "http_response_booking_conflict",
      "name": "HTTP Response: Booking Conflict",
      "type": "n8n-nodes-base.httpResponse",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ],
      "parameters": {
        "responseCode": 409,
        "data": "={{ { \"message\": \"Time slot not available\" } }}"
      }
    },
    {
      "id": "google_calendar_get_availability",
      "name": "Availability: Get Full Day",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        600,
        400
      ],
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "mode": "value",
          "value": "your_calendar_email@example.com"
        },
        "options": {
          "timeMin": "={{ $now.toISODate() + 'T00:00:00Z' }}",
          "timeMax": "={{ $now.toISODate() + 'T23:59:59Z' }}",
          "singleEvents": true
        },
        "returnAll": true
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "your_google_calendar_credential_id",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "id": "http_response_availability",
      "name": "HTTP Response: Availability",
      "type": "n8n-nodes-base.httpResponse",
      "typeVersion": 1,
      "position": [
        800,
        400
      ],
      "parameters": {
        "responseCode": 200,
        "data": "={{ { \"message\": \"Availability retrieved\", \"events\": $json } }}"
      }
    }
  ],
  "connections": {
    "VAPI Appointment Request": {
      "main": [
        [
          {
            "node": "Is Mode Booking?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Mode Booking?": {
      "main": [
        [
          {
            "node": "Booking: Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Availability: Get Full Day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking: Check Availability": {
      "main": [
        [
          {
            "node": "Is Time Slot Free?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Time Slot Free?": {
      "main": [
        [
          {
            "node": "Booking: Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Response: Booking Conflict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking: Create Calendar Event": {
      "main": [
        [
          {
            "node": "HTTP Response: Booking Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Availability: Get Full Day": {
      "main": [
        [
          {
            "node": "HTTP Response: Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
